{% extends 'layout.html' %}
{% block content %}
<h1>Файл {{ info.name }}</h1>
Дата загрузки: <i>{{ info.date }}</i>
<br>
Описание: <i>{{ info.description }}</i>
<br>
<a href='{{ url_for("download_file", uid = info.uid) }}'>Скачать</a>
{% if current_user.is_authenticated() %}
  <br><a href = '{{ url_for("delete", entity = "files", uid = info.uid) }}'>[Удалить]</a>
{% endif %}
<hr>
<form action='{{ url_for("add_comment", file_uid = info.uid) }}' method='post'>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username(placeholder = 'Имя (необязательно)') }}<br>
    </p>
    <p>{{ form.text(cols = 52, rows = 10) }}</p>
    <p>{{ form.recaptcha }}</p>
    <p><input type='submit' value='Добавить'></p>
</form>
{% for comment in comments %}
  <hr>
  <span class = 'comment_header'>
    comment #{{ comment.uid }}
    {% if current_user.is_authenticated() %}
      <a href = '{{ url_for("delete", entity = "comments", uid = comment.uid) }}'>[Удалить]</a>
    {% endif %}
  </span>
  <br>
  {{ comment.username }} {{ comment.date }}
  <br>
  <div class = 'comment_content'>
     {{ comment.text }}
  </div>
{% endfor %}
{% endblock %}
