{% extends 'layout.html' %}
{% block content %}
<h1>Файлы</h1>
<hr>
<form action='' method='post' name='subject' enctype='multipart/form-data'>
    {{ form.hidden_tag() }}
    <p>{{ form.file_to_upload }}</p>
    <p>
        Описание:
        <br>
        {{ form.description(rows = 10, cols = 52, style = 'resize: none;') }}<br>
    </p>
    <p>{{ form.recaptcha }}</p>
    <p><input type='submit' value='Загрузить'></p>
</form>
<table>
  {% for file in files %}
    <tr>
      <td>
        <a href='{{ url_for("file", uid = file.uid) }}'>{{ file.name }}</a>
      </td>
      {% if current_user.is_authenticated() %}
        <td><a href = '{{ url_for("delete", entity = "files", uid = file.uid) }}'>[Удалить]</a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
