{% extends 'layout.html' %}
{% block content %}
<h1>Файл {{ info.name }}</h1>
Дата загрузки: <i>{{ info.date }}</i>
<br>
Описание: <i>{{ info.description }}</i>
<br>
<a href='{{ url_for("download", uid = info.uid) }}'>Скачать</a>
<hr>
<form action='' method='post'>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username(placeholder = 'Имя (необязательно)') }}<br>
    </p>
    <p>{{ form.text(cols = 52, rows = 10, style = 'resize: none;') }}</p>
    <p>{{ form.recaptcha }}</p>
    <p><input type='submit' value='Добавить'></p>
</form>
{% for comment in comments %}
  <hr>
  <span style = 'font-size: 7pt;'>comment #{{ comment.uid }}</span>
  <br>
  {{ comment.username }} {{ comment.date }}
  <br>
  <!-- TODO: подумать над стилем -->
  <div style = 'width: 50%; margin: 10px;
                margin-top: 5px; padding: 5px;
                border: dotted 1px black; font-size: 10pt;'>
     {{ comment.text }}
  </div>
{% endfor %}
{% endblock %}
