<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <link rel='shortcut icon' href='{{ url_for("static", filename = "favicon.ico") }}'>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename = "css/style.css") }}'>
    <title>Bourani</title>
  </head>
  <body>
      <div class = 'header'>
        <a href = '{{ url_for("search_file") }}'>[Поиск]</a>
        {% if current_user.is_authenticated %}
          <br>
          logged as <a href = '{{ url_for("logout") }}' title = 'Выйти'>{{ current_user.username }}</a>
        {% endif %}
      </div>
    {% block content %}{% endblock %}
    <hr>
    <div class = 'footer'>
      <a href = '{{ url_for("index") }}'>bourani</a>
      <br>
      2014 - &infin;
      <br>
      <a href = '{{ url_for("info") }}'>info</a>
    </div>
  </body>
</html>
