{% extends 'layout.html' %}
{% block content %}
<h1>Предметы</h1>
<hr>
<form action = '' method = 'post' name = 'subject'>
    {{ form.hidden_tag() }}
    <p>
        <i>Название предмета:</i>
        <br>
        {{ form.name(size = 53)}}<br>
    </p>
    <p>{{ form.recaptcha }}</p>
    <p><input type = 'submit' value = 'Добавить'></p>
</form>
<hr>
<table>
  {% for subject in subjects %}
    <tr>
      <td>
        <a href = '{{ url_for("subject", uid = subject.uid) }}'>{{ subject.name }}</a>
      </td>
      {% if current_user.is_authenticated() %}
        <td>[Удалить]</td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
